<div class="jumbotron">
    <div class="container">
        <h1>Author Quiz</h1>
        <p>Select the book written by the author shown</p>
    </div>
</div>
<div class="container">
    <div id="app" />
</div>

@section Scripts {
    <link rel="stylesheet" href="~/dist/quiz.css" />
    <script src="~/js/routie.min.js"></script>
    <script src="~/dist/quiz.js"></script>
}